<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <style type="text/css">
        .logos_block {
            padding: 5px;
        }

        .logos_block img {
            height: 40px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    </style>
    <title>Spring Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Home)}"></div>
    <h2 style="color: #005000;">Главная страница</h2>
    <p style="text-align: justify;">
        Пример реализации интернет магазина. Система поддерживает три типа пользователей: администратор, покупатель
    и мэнеджер. Реализована возможность регистрации для новых пользователей. Досупны следующие страницы: главная,
    магазин, корзина, заказы, вход в систему и регистрация.</p>
</div>
<div id="avatarUrl" th:if="${currentUser != null}" th:data-avatar-url="  ${currentUser.avatarUrl}" style="display:none;"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    window.addEventListener('DOMContentLoaded', (event) => {
        let avatarElement = document.getElementById('avatarUrl');
        if (avatarElement) {
            const avatarUrl = avatarElement.getAttribute('data-avatar-url');
            if (avatarUrl) {
                localStorage.setItem('avatarUrl', avatarUrl);
            }
        }
    });
    /*]]>*/
</script>

</body>
</html>