<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<body>
    <div th:fragment="navigation(activeTab)">
        <nav class="navbar navbar-expand navbar-light bg-light">
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/}">Главная</a>
                    </li>
                    <li class="nav-item" th:classappend="${activeTab == 'Shop' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/shop}">Магазин</a>
                    </li>
                    <li class="nav-item" th:classappend="${activeTab == 'Cart' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/cart}">Корзина</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Заказы</a>
                    </li>
                    <li class="nav-item" th:classappend="${activeTab == 'Users' ? 'active' : ''}">
                        <a class="nav-link" th:href="@{/users}">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-success" th:href="@{/login}">Логин</a>
                    </li>
                    <li class="nav-item">
                        <a href="/personpage">
                            <img id="navbarAvatar" src="" alt="Аватар" style="width: 40px; height: 40px; border-radius: 50%;">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                const timestamp = new Date().getTime();
                document.getElementById('navbarAvatar').src = `/getAvatar/?t=${timestamp}`;

            });

        </script>
    </div>

</body>

</html>