<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <div th:replace="~{navigation :: navigation(Shop)}"></div>
    <h2>Магазин</h2>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th><a th:href="@{/shop/sort/name}">Название</a></th>
            <th><a th:href="@{/shop/sort/price}">Цена (руб.)</a></th>
            <th><a th:href="@{/shop/sort/date-of-arrival}">Дата поступления</a></th>
            <th><a th:href="@{/shop/sort/category}">Категория</a></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.title}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.arrivalTime}"></td>
            <td th:text="${product.productType}"></td>
            <td><a class="btn btn-success" th:href="@{'/cart/add/' + ${product.id}}">В корзину</a></td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>